html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#action {
  background-color: dodgerblue;
}

#thriller {
  background-color: rgb(190, 178, 178);
  flex-grow: 10;
}

#comedy {
  background-color: rgb(255, 214, 30);
  flex-grow: 10;
}

#horror {
  background-color: black;
  color: red;
}

#drama {
  background-color: darkgrey;
}

#romance {
  background-color: red;
}

section {
  text-align: center;
  width: 500px;
  height: 100px;
  flex-grow: 1;
}
